.past-events--outer {
    padding: 0 2rem;
    z-index: 999;
}


.past-events {
    height: 100%;
    color: var(--fg-primary);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background: rgba(69, 66, 66, 0.66);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.9px);
    -webkit-backdrop-filter: blur(9.9px);
    border: 1px solid rgb(132, 11, 11);

    padding: 2rem;
    margin: 2rem 0;

}

@media screen and (max-width: 900px) {

    .past-events,
    .past-events--outer {
        padding: 0 !important;
        margin-top: 5rem;
    }
}


.past-events h1 {
    font-size: 2rem;
    position: absolute;
    top: 2rem;
    left: 3rem;
}


.activity-categories-container {
    margin-top: 5rem;
    width: 80vw;
}

@media screen and (max-width: 900px) {
    .activity-categories-container {
        margin-top: 7rem;
    }
}

/* ActivityCategories Sub-Component */

.css-la0xb7 {
    width: 100% !important;
    /* bad practice but need to overwrite mui */
}


.tabpanel {
    /* outline: 1px solid #fafafa; debug */
    border: 1px solid var(--bg-secondary);
    border-radius: 16px;
    width: 100%;

    padding: 0 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.tabpanel--category-img {
    width: 80%;
    height: 25vh;
    background-size: cover !important; /* I know it's bad practice, mui wants to override me! */
    background-repeat: no-repeat !important;
    background-position: center !important; 

    
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1.4rem;

    border: 1px solid var(--bg-secondary);
    box-shadow: 0px 4px 8px #4c1f1f;
    border-radius: 16px;

    position: relative;
}


.tabpanel--category-img--header {
    filter: none; /* Prevent the child from inheriting the filter */
    color: var(--fg-third);
    font-size: 3rem;
    font-family: 'Mansalva', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    z-index: 1; /* Keep it above the parent */
}


.tabpanel--p {
    font-size: 1.1rem;
    margin-top: 2%;
}

.tabpanel--link-list {
    padding: 0;
    font-family: 'Comfortaa', Courier New, Courier, monospace;
    font-size: 1.67rem;
    line-height: calc(100% + 25px);
}

.tabpanel--link-list>ul>a {
    text-decoration: none;
    color: var(--a-color);
    transition: color ease-in-out 300ms;
}

.tabpanel--link-list>ul>a:hover {
    color: var(--a--hover-color);
}

.tabpanel--link-list a[href^="http"]::after,
a[href^="https://"]::after {
    content: "";
    width: 11px;
    height: 11px;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.tabpanel--link-list a[href^="http"]::before,
a[href^="https://"]::before {
    content: "•";
    color: #666;
    font-size: 2rem;
    width: 15px;
    display: inline-block;
}

.tabpanel--link-list-date {
    font-size: .9rem;
    color: var(--fg-secondary);
}

.tabpanel--link-list-date::after {
    content: "|";
    color: #666;
    font-size: 2rem;
    display: inline-block;
}

@media screen and (max-width: 1200px) {
    .tabpanel {
        width: calc(800px - 2rem);
        padding: 2rem 0rem;
    }
    .tabpanel > *:not(img) {
        padding: 1rem;
    }

    .tabpanel--link-list {line-height: calc(100% + .52rem);}
}