@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Mansalva&display=swap');

:root {
    --welcome-box-title-color: #ff2a2a;
    --welcome-box-a-color: #ff2a2a;
    --welcome-box-a--hover-color: #caff2a;
    --welcome-box-subtitle-color: #fafafa;
}



.welcome-container {
    text-align: center;
    height: 100vh;
    width: 100%;
    z-index: 99999;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    top: 0;
    left: 0;
    background: var(--bg-primary);
    /* url('/cover.jpg') no-repeat center/cover; */
    transition: opacity 400ms ease-out;
}

.welcome-container--box {

    padding: 2rem;

    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: right;
    justify-content: space-around;
    flex-direction: column;


    height: 100%;
    width: 25%;

    background: rgba(250, 178, 178, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    border: 1px solid rgba(207, 201, 201, 0.682);
}

@media screen and (max-width:800px) {
    .welcome-container--box {
        width: 90%;
        -webkit-backdrop-filter: blur(2.4px);
        backdrop-filter: blur(2.4px);
    }
}

.welcome-container--box h1 {
    font-size: 5rem;
    font-family: "Mansalva", sans-serif;
    font-style: normal;
    color: var(--welcome-box-title-color);
}

.welcome-container--box p {
    font-size: 2rem;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--welcome-box-subtitle-color);
}

.welcome-container--box a {
    color: var(--welcome-box-a-color);
    text-decoration: none;
    transition: color ease-in-out 300ms;
}

.welcome-container--box a:visited {
    color: var(--welcome-box-a-color);
}

.welcome-container img {
    width: 30em;
    height: 25em;
    border-radius: 8px;
    opacity: 0.8;
    transition: all 300ms ease-in-out;
}

.intro {
    overflow-y: scroll;
}

.intro h1 {
    font-size: 3rem;
    font-family: "Mansalva", sans-serif;
    line-height: 1em;
    font-style: normal;
    color: var(--fg-secondary);
    padding-bottom: 1rem;
    padding-top: 3rem;
}

.intro ul,
.intro p {
    text-align: left;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-family: "Comfortaa", sans-serif;
    color: #333;
}

.intro ul li {
    margin-left: 2rem;
}



.welcome-container img:hover {
    opacity: 1;
}

.welcome-container--box a:hover {
    color: var(--welcome-box-a--hover-color);
}

.welcome-container--box .button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.welcome-container--box button {
    background-color: #333;
    box-shadow: none !important;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.5rem;
    line-height: 1em;
    font-style: normal;
    color: var(--welcome-box-subtitle-color);
    background-color: #333;
    transition: all ease-in-out 300ms;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px var(--welcome-box-a--hover-color)
}

.welcome-container--box button:hover {
    background-color: var(--welcome-box-a-color);
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 1370px) {
    .welcome-container--box button {
        padding: 10px 20px;
        font-size: 1.2rem;
    }

    .welcome-container--box h1 {
        font-size: 4rem;
    }

    .welcome-container img {
        position: fixed;
        top: 25%;
        width: 20%;
        height: 20%;
    }


    .welcome-container {
        justify-content: space-around;
    }

    .welcome-container--box {
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 45%;
        bottom: 0;
        border-radius: 0;
        padding-bottom: 1rem;
    }

    .intro {
        flex-direction: column;
    }

    .intro h1 {
        font-size: 2rem;
    }


}

@media screen and (max-width: 730px) {
    .welcome-container img {
        width: 35%;
        height: 35%;
        top: 1rem;
    }

    .welcome-container {
        justify-content: space-around;
    }

    .welcome-container--box {
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 55%;
        bottom: 0;
        border-radius: 0;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 530px) {
    .welcome-container img {
        width: 300px;
        height: 20%;
    }

    .intro {
        justify-content: space-around;
        height: 100vh;
    }

    .intro p {
        text-align: center;
    }

    .welcome-container--box {
        max-height: 75%;
    }
}